.text-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 4rem;
  font-weight: 700;
  color: #ee4b5e;
}

.subtitle {
  font-size: 32px;
  font-weight: 700;
  color: #1fa9d6;
}
